/*-- scss:defaults --*/

// Colors
$tan: #AD9C85;
$light-blue: #CAD2E3;
$cream: #F5F5F5;
$sage-green: #C4C9A6;
$black: #1F2022;

// Base document colors
$navbar-bg: $sage-green; // navbar
$navbar-fg: $black; // navbar foreground elements
$navbar-hl: $tan; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $black; // page text 
$footer-bg: $cream; // footer 
$link-color: $light-blue; // hyperlinks 

// Inline code
$code-bg: $tan; // inline code background color
$code-color: $cream; // inline code text color

// Code blocks
$code-block-bg: $tan; // code block background color